{% extends "base.html" %}
{% block content %}
    <!-- Hoofdsectie -->
    <div class="max-w-screen-lg mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-center mb-6">Contact</h1>
        <p class="text-lg mb-4">
            Heb je vragen of opmerkingen? Je kunt ons bereiken via de onderstaande e-mailadressen:
        </p>

        <div class="space-y-4">
            <p class="text-lg">
                <span class="font-semibold">Nicole Bovenga:</span> <a href="mailto:n.f.bovenga@st.hanze.nl" class="text-blue-500 hover:underline">n.f.bovenga@st.hanze.nl</a>
            </p>
            <p class="text-lg">
                <span class="font-semibold">Vincent de Jong:</span> <a href="mailto:a.v.de.jong@st.hanze.nl" class="text-blue-500 hover:underline">a.v.de.jong@st.hanze.nl</a>
            </p>
            <p class="text-lg">
                <span class="font-semibold">Marit van Nuil:</span> <a href="mailto:m.van.nuil@st.hanze.nl" class="text-blue-500 hover:underline">m.van.nuil@st.hanze.nl</a>
            </p>
            <p class="text-lg">
                <span class="font-semibold">Joris Deelstra:</span> <a href="mailto:j.deelstra.2@st.hanze.nl" class="text-blue-500 hover:underline">j.deelstra.2@st.hanze.nl</a>
            </p>
            <p class="text-lg">
                <span class="font-semibold">Wietze van den Berg:</span> <a href="mailto:w.b.van.den.berg@st.hanze.nl" class="text-blue-500 hover:underline">w.b.van.den.berg@st.hanze.nl</a>
            </p>
        </div>
    </div>
{% endblock %}