{% extends 'index.html' %}
{% block content %}
<form action="" method="post"> <!-- Dummy invoer -->
    <label for="option1">Option 1</label>
    <input type="checkbox" id="option1" name="checkbox" value="Option 1"><br>
    <label for="option2">Option 2</label>
    <input type="checkbox" id="option2" name="checkbox" value="Option 2"><br>
    <label for="option3">Option 3</label>
    <input type="checkbox" id="option3" name="checkbox" value="Option 3"><br>
    <input type="submit" value="Resultaat!">
</form>
{% endblock %}