{% extends "base.html" %}
{% block content %}
    <!-- Hoofdsectie -->
    <div class="max-w-screen-lg mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-center mb-6">Salmon invoer</h1>
        <p class="text-lg mb-4">

        </p>

        <!-- Bestandsinvoer sectie -->
        <form action="" method="POST" enctype="multipart/form-data" class="space-y-4">
            <div>
                <label for="fasta-file" class="block text-lg font-semibold mb-2">Upload een FASTA-bestand</label>
                <input type="file" id="fasta-file" name="fasta-file" accept=".fasta" class="border border-gray-300 p-2 w-full rounded-md">
                <p><input type="checkbox" name="checkbox1" value="checked"> Data is al geindexeerd
                <input type="checkbox" name="checkbox2" value="checked"> Handmatig libtype meegeven
                <input type="checkbox" name="checkbox3" value="checked"> Meerdere bestanden vergelijken</p>
                <p><input type="checkbox" name="checkbox4" value="checked"> gcBias inschakelen
                <input type="checkbox" name="checkbox5" value="checked"> posBias inschakelen
                <input type="checkbox" name="checkbox6" value="checked"> seqBias inschakelen</p>
            </div>

            <div class="flex justify-center">
                <button type="submit" class="bg-[#FFA07A] text-white px-6 py-2 rounded-md text-lg hover:bg-[#FF8C69]">
                    <i class="fas fa-play-circle"></i> Analyseer Data
                </button>
            </div>
        </form>
    </div>
{% endblock %}