{% extends "base.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Code wat TPM_visualisatie.js gebruikt voor grafieken -->
<script src="../static/js/TPM_visualisatie.js"></script> <!-- TPM_visualisatie.js hemzelf -->

    <!-- Hoofdsectie -->
    <div class="max-w-screen-lg mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-center mb-6">Wat is Salmon?</h1>
        <p class="text-lg mb-4">
            Salmon is een tool die wordt ingezet bij RNA-sequencing om de expressie van transcripten in een monster te bepalen.
            Het doel ervan is om te achterhalen in welke mate elk transcript aanwezig is.
            Salmon analyseert de korte sequentiefragmenten die voortkomen uit een experiment en koppelt deze aan een verzameling bekende genen en transcripten.
            Dit proces heet transcriptiekwantificatie.
            Het helpt om te begrijpen welke genen actief zijn en hoe hun activiteit verandert onder verschillende omstandigheden.
        </p>

        <h2 class="text-2xl font-semibold mt-8 mb-4">Hoe werkt Salmon?</h2>
        <p class="text-lg mb-4">
            Om te werken heeft Salmon een referentiebestand nodig in de vorm van een FASTA-bestand, waarin de sequenties van bekende RNA-transcripten zijn opgenomen.
            Daarnaast gebruikt het een FASTA- of FASTQ-bestand dat de RNA-seq reads bevat.
            Deze bestanden vormen de basis voor de analyse.
            Wat Salmon bijzonder maakt, is de flexibiliteit in de verwerking.
            Het kan direct met ruwe reads werken zonder dat een aparte uitlijning nodig is, wat het proces efficiënter maakt.
            Voor gebruikers die al uitlijningen hebben uitgevoerd, biedt Salmon echter ook de mogelijkheid om deze te benutten.
            In dat geval kunnen SAM- of BAM-bestanden, die informatie bevatten over hoe de reads aansluiten op een referentie, worden ingevoerd om de verwerking te versnellen.
        </p>

        <h2 class="text-2xl font-semibold mt-8 mb-4">Wat doet onze website?</h2>
        <p class="text-lg mb-4">
            Onze website is ontworpen om de kracht van Salmon toegankelijk te maken voor gebruikers die genexpressieverschillen in RNA-monsters willen analyseren.
            Het biedt een gebruiksvriendelijk platform waarop gebruikers hun RNA-monsterdata kunnen uploaden, zoals FASTA- of FASTQ-bestanden met reads.
            Vervolgens voert de website een snelle en efficiënte analyse uit met behulp van Salmon.
            Na de analyse krijgen gebruikers niet alleen de ruwe resultaten te zien, maar ook een visuele weergave van de genexpressieverschillen in de vorm van een staafdiagram.
            Deze staafdiagram maakt het eenvoudig om in één oogopslag te zien hoe genexpressie varieert tussen verschillende condities of monsters.
        </p>
    </div>

    <div id = 'chart-container'> <!-- Voorbeeld chart, als we tijd over hebben kunnen we hier nog verder aan werken -->
        <canvas id="voorbeeld_chart"></canvas>
    </div>
{% endblock %}